<div class="p-6">
  <mat-card class="reset-card">
    <mat-card-content>
      <p>Enter your email address to receive a password reset link.</p>
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="w-100 mb-10 mt-10">
          <mat-label>Email</mat-label>
          <input
            matInput
            formControlName="email"
            type="email"
            placeholder="Enter your email"
          />
          <mat-error *ngIf="resetForm.get('email')?.hasError('required')"
            >Email is required</mat-error
          >
          <mat-error *ngIf="resetForm.get('email')?.hasError('email')"
            >Invalid email format</mat-error
          >
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="resetForm.invalid"
          class="w-100 mb-10"
        >
          Send Reset Link
        </button>
      </form>

      <div class="login-link">
        <p>Back to <a routerLink="/login">Log in</a></p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
