.expenses-list {
  overflow-y: auto;
  max-height: calc(100vh - 113px);
  min-height: calc(100vh - 113px);
}
.expenses-list-item {
  height: auto !important;
  .due {
    color: var(--text-danger-color);
  }
  .paid {
    color: var(--text-success-color);
  }
  .total {
    display: flex;
    align-items: center;
    color: var(--text-warning-color);
  }
}
