<div class="mat-elevation-z4 dashboard-card" appearance="outlined">
  <img class="dashboard-card-img" src="./dashboard_icons/expenses.png" alt="">
  <div class="dashboard-card-title">Expenses</div>
</div>

<div class="mat-elevation-z4 dashboard-card" appearance="outlined">
  <img class="dashboard-card-img" src="./dashboard_icons/income.png" alt="">
  <div class="dashboard-card-title">Incomes</div>
</div>

<div class="mat-elevation-z4 dashboard-card" appearance="outlined">
  <img class="dashboard-card-img" src="./dashboard_icons/loans.png" alt="">
  <div class="dashboard-card-title">Loans</div>
</div>

<div class="mat-elevation-z4 dashboard-card" appearance="outlined">
  <img class="dashboard-card-img" src="./dashboard_icons/cards.png" alt="">
  <div class="dashboard-card-title">Credit Cards</div>
</div>

<!-- <img src="image.png" alt="" /> -->
