<div [routerLink]="['../expenses']" routerLinkActive="router-link-active"  class="mat-elevation-z4 dashboard-card" appearance="outlined">
  <img class="dashboard-card-img" src="./dashboard_icons/expenses.png" alt="">
  <div class="dashboard-card-title">Expenses</div>
</div>

<div [routerLink]="['../incomes']" routerLinkActive="router-link-active"  class="mat-elevation-z4 dashboard-card" appearance="outlined">
  <img class="dashboard-card-img" src="./dashboard_icons/income.png" alt="">
  <div class="dashboard-card-title">Incomes</div>
</div>

<div [routerLink]="['../credit-cards']" routerLinkActive="router-link-active"  class="mat-elevation-z4 dashboard-card" appearance="outlined">
  <img class="dashboard-card-img" src="./dashboard_icons/loans.png" alt="">
  <div class="dashboard-card-title">Loans</div>
</div>

<div [routerLink]="['../chit-fund']" routerLinkActive="router-link-active"  class="mat-elevation-z4 dashboard-card" appearance="outlined">
  <img class="dashboard-card-img" src="./dashboard_icons/cards.png" alt="">
  <div class="dashboard-card-title">Credit Cards</div>
</div>

<div [routerLink]="['../loans']" routerLinkActive="router-link-active"  class="mat-elevation-z4 dashboard-card" appearance="outlined">
  <img class="dashboard-card-img" src="./dashboard_icons/chit.png" alt="">
  <div class="dashboard-card-title">Chit Fund</div>
</div>

<!-- <img src="image.png" alt="" /> -->
